  
     .main-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1);
     }
    
.left-bar {
grid-column: 1/3;
background-color: rgba(3, 3, 171, 0.784);
}

.container {
grid-column: 3/11;
background-color: blue;
}

.right-bar {
grid-column: 11/13;
background-color: rgba(3, 3, 171, 0.784);
}

.left-bar p,
.right-bar p {
    margin: 1em;
    padding: 1em;
    border-style: solid;
    border-width: 0.5px;
    background-color: rgba(3, 3, 171, 0.784);
    color: aquamarine;
    border-color: aquamarine;
   
}













     /* @media (max-width: 800px) {
        .container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5);
        }
     }
    
     @media (max-width: 600px) {
        .container {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(9);
        }
     .card {
         margin-inline: 1.5em;
     }
    } */