p {
background-color: blue;
color: azure;
margin: 15px;
padding: 15px;
}  

.first {
text-align: center;
display: inline-block;
}
.main1 {
    text-align: center;
    display: inline-block;
}
.main2 {
    text-align: center;
    display: inline-block;
}